
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div>
        <h1 style="color: red">ABOUT US</h1>
        <h4 style="color: goldenrod">More than tickets...</h4>
    </div><br/>
    <div style="color: goldenrod">
        <h3>Culture & Music was created out of a genuine love for attending live events…</h3>
        <p>We all feel the anticipation right after the lights go down. We remember the sounds of the orchestra pit tuning their instruments to deliver enchanting musical scores and standing ovations. We remember the blazing guitar solos, the last second scores, the come-from-behind wins, and the cheers of the fans. It's no accident we're named Vivid Seats…"vivid" comes from the Latin word "vivere" which means "to live"…and going to live events gives you the chance to live the music, live the culture, and live the glory that all generate the vivid memories and unique stories that will last a lifetime!</p>
    </div><br/>
    <div style="color: goldenrod">
        <h3>Our Purpose</h3>
        <p>We know that the live event experience starts long before you step into the venue. From the moment you learn about the event, you start figuring out if you can go, who you want to go with, and where you want to sit. Those decisions are all part of what can make the experience great… or, on the other hand, a frustrating hassle. With this in mind, we created Vivid Seats to reinvent the ticket purchasing experience. We have the best tools in the industry for you to learn, shop, share, plan, and organize your live event experience. We continually invest in our site's functionality and information so that you can go from start-to-finish faster and easier than on any other ticket website. And we've worked hard to be the leader in providing value, uniquely combining discount prices with premium service. Simply put, we want you to be able to go to as many live events as possible, and we want to provide the best experience in the industry!</p>
    </div><br/>
    <div style="color: goldenrod">
        <h3>Our Guarantee</h3>
        <p>We also know that buying tickets requires trust—nobody wants to get ripped off and no one wants to worry about their tickets. That's why we designed our site to be the safest, most secure way to buy tickets online. We never pass along your personal information to the seller, and we back all orders with our 100% Buyer Guarantee. While many of our competitors let just about anyone sell a ticket without sticking around to help, our service covers the rigorous screening process we apply to all the sellers on our website and supports our dedicated, in-house customer service team. We are there to protect and help you all along the way. We invest in the process and infrastructure so that you can purchase tickets worry-free.</p>
    </div><br/>
    <div style="color: goldenrod">
        <h3>Our Commitment</h3>
        <p>We are committed to earning your satisfaction with every order. We have the most responsive customer service team in the industry with decades of professional experience satisfying our thousands of loyal customers and corporate clients. We are here to help you from start to finish…any time…all the time. Getting the right seats at the right price in a fast-moving market requires skilled, efficient, professional coordination. Our full service staff is there to do just that—fully dedicated to giving you the best ticket buying experience in the industry!
As the gateway to your spectacular and memorable live event experiences, we want you to look forward to your upcoming concert, show, or game with confidence, peace of mind, and genuine happiness and excitement, every step of the way. Vivid Seats is your ticket to live events!</p>
    </div><br />
</div>



