@{
    ViewBag.Title = "Contact";
}

<style>
    #one {
        border: 10px solid goldenrod;
        background-color: blue;
        width: 300px;
        height: 200px;
    }
    #two {
        border: 10px solid goldenrod;

        background-color: red;
        width: 400px;
        height: 100px;
    }

    #three {
        border: 10px solid goldenrod;

        background-color: yellow;
        width: 50px;
        height: 200px;
    }

</style>

<div class="row">
    <div class="col-sm-6">
        <br/>
        <br/>
        <div id="one">
            <p style="color: blue">ppp</p>
            <div id="two" class="col-sm-offset-1">
                <p style="color: red">ppp</p>

                <div id="three" class="col-sm-offset-1"></div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="col-sm-6">
        <address>
            One Microsoft Way<br/>
            Redmond, WA 98052-6399<br/>
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
<div class="row">
    <br/>
    <br/>
    <br/>
</div>











