
@{
    ViewBag.Title = "Partners";
}

<div class="container">
    <h2 style="color: goldenrod">PARTNERS</h2>
    <br/><br/>
    <div class="container col-lg-offset-1">
        <center>
            <div class="row">
                <div class="col-lg-2">
                    <img src="/Content/logos/19.gif" width="100" height="100"/>
                    <a href="#">Official Resale Marketplace of the Boise State Broncos</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/2.png" width="100" height="100"/>
                    <a href="#">Official Fan Experience Partner of the Los Angeles Rams</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/3.png" width="100" height="100"/>
                    <a href="#">Official Fan Packages of the Chicago Bears</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/4.png" width="100" height="100"/>
                    <a href="#">Official Fan Experience and Travel Partner</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/5.png" width="100" height="100"/>
                    <a href="#">Official Ticket Provider of ESPN</a>

                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/6.jpg" width="100" height="100"/>
                    <a href="#">Official Ticket Marketplace of the Notre Dame Fighting Irish</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <img src="/Content/logos/7.png" width="100" height="100"/>
                    <a href="#">Exclusive Online Ticket Provider of Fox Sports</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/8.png" width="100" height="100"/>
                    <a href="#">Official Fan Experience Partner of the Cleveland Browns</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/9.png" width="100" height="100"/>
                    <a href="#">Official Resale Marketplace of the Big Ten Conference</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/10.png" width="100" height="100"/>
                    <a href="#">Official Partner of Duke Athletics</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/11.png" width="100" height="100"/>
                    <a href="#">Official Fan Travel Partner of the San Francisco 49ers</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/12.png" width="100" height="100"/>
                    <a href="#">Official Secondary Ticket Provider to Nitro Circus</a>
                </div>
            </div><br/>

            <div class="row">
                <div class="col-lg-2">
                    <img src="/Content/logos/13.png" width="100" height="100"/>
                    <a href="#">Official Ticket Reseller of the International Champions Cup</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/14.png" width="100" height="100"/>
                    <a href="#">Official Resale Marketplace of Rose Bowl Stadium</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/15.png" width="100" height="100"/>
                    <a href="#">Official Resale Marketplace of the Louisville Cardinals</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/16.png" width="100" height="100"/>
                    <a href="#">Official Resale Marketplace of the Demon Deacons</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/17.png" width="100" height="100"/>
                    <a href="#">Official Resale Marketplace of the Arizona State Sun Devils</a>
                </div>
                <div class="col-lg-2">
                    <img src="/Content/logos/18.png" width="100" height="100"/>
                    <a href="#">Preferred Resale Marketplace of the Oklahoma State Cowboys</a>
                </div>
            </div><br />
        </center>
      

    </div>
</div>


