@model IEnumerable<TicketStore.Models.ViewModels.Event.EventViewModel>


@{ ViewBag.Title = "ConcertsTable"; }

<div class="container-fluid" , style="background-color: black">
    <div style="background: black">
        <br>

        @foreach (var vm in Model)
        {
            <h1 style="color: red" align="center">@Html.DisplayFor(vms => vm.Category.Name)</h1>
                break;
            }
        <br>
        <center>
            <a href="/Admin/Admin/AddEvent">
                <button class="btn btn-danger btn btn-lg">Create New Event</button>
            </a>
        </center>
        <br/>
    </div>
    
    <br>
    <div class="container">
        <table>
        @foreach (var vm in Model)
        {
                <tr>
                    <td><a href="/Event/EventDetails/@Html.DisplayFor(vms => vm.Id)">@Html.DisplayFor(vms => vm.Name)</a></td>

                    <td><a href="Event/EventDetails/@Html.DisplayFor(vms => vm.Id)">@Html.DisplayFor(vms => vm.Location)</a></td>

                    <td><a href="Event/EventDetails/@Html.DisplayFor(vms => vm.Id)">@Html.DisplayFor(vms => vm.DateDetails)</a></td>
                    <td><a style="color: lawngreen" href="/Event/EventDetails/@Html.DisplayFor(vms => vm.Id)">Details</a></td>
                    <td><a style="color: yellow" href="/Admin/Admin/EditEvent/@Html.DisplayFor(vms => vm.Id)">Edit</a></td>
                    <td><a style="color: red" href="/Admin/Admin/DeleteEvent/@Html.DisplayFor(vms => vm.Id)">Delete</a></td>

                </tr>
        }
        </table>
    </div>
</div>


   


    
